body{
    font-family: 'Dosis', sans-serif;
    background-color:rgb(255, 255, 255);
}


.chatbox{
    width:290px;
    height: 360px;
    position: fixed;
    box-shadow: 0.5px 0.5px 10px black;
    bottom:0;
    right: 9%;
    background-color:rgb(250, 248, 248);
    border-radius: 3px 3px 0px 0px;
    
    
    .header{
        width: auto;
        height: 30px;
        background-color:#5D92FF;
        border-bottom:1px solid gray;
        border-radius: 0px 0px 2px 2px;
        padding-right: 5px;
        border-radius: 3px 3px 0px 0px;

        .items{
            display: -webkit-flex;
            display: flex;
            list-style:none;
            flex-direction: row;
            margin:0;
            justify-content: space-around;
            padding-left: 5px;
            padding-right: 3px;
            

            .user{
                margin-right: auto;
                margin-left: 0px;
                color:#E0E2E4
            }


            li{
                margin-top:7px;
                color:white;
                margin-left: 10px;
            }
            img{
                width: 16px;
                height: 16px;
            }
        
            .add{
                .hidden{
                    width: 290px;
                    height: 35px;
                    border-bottom:1px solid gray;
                    background-color:white;
                    position: fixed;
                    right:144px;
                    top:57%;
                    display: none;

                .addpeople{
                    width: 220px;
                    height: 20px;
                    border:1px solid black;
                    margin-top:6px;
                    margin-left: 3px;
                    font-size:13px;
                    padding-left: 2px;
                }
            
                .done{
                    width: auto;
                    height: 25px;
                    background-color: #4267B2;
                    vertical-align: center;
                    margin-left: 4px;
                    border:none;
                    border-radius: 2px;
                    color:white;
                    font-weight:2px;
                }
             }
            &:hover{
                .hidden{
                    display: block;
                }
            }

            }






        .settings{
            .sopt{
                width:190px;
                height: auto;
                border:1px solid grey;
                position:absolute;
                background:white;
                right: -30%;
                bottom:53px;
                display: none;
                
                ul{
                    list-style: none;
                    padding:0;
                    li{
                        color:black;
                        margin: 0;
                        padding:3px;

                        &:hover{
                            background-color:#365899;
                            color:white;
                        }
                    }
                    hr{
                        margin:2px
                    }
                }
            
                &:hover{
                    display:block;
                }
            
            
            }
           
            }
        } 
        
        }

    }

    

    .chatspace{
        background-color:rgb(255, 255, 255); 
        width: auto;
        height: 260px;
        z-index: 2;
        overflow: scroll;
        overflow-x:hidden;
        padding:5px;
        border-bottom:1px solid rgb(195, 193, 193);
        
        .mr{
            display: -webkit-flex;
            display: flex;
            justify-content: flex-start;
            margin-top:2px;
            
            img{
                width: 20px;
                height: 20px;
                border-radius: 10px;
            }
            p{
                color:rgb(5, 5, 5);
                padding:6px;
                padding-left: 8px;
                padding-right: 8px;
                background-color:rgb(230, 230, 230);
                max-width: 140px;
                height: auto;
                margin:0px;
                margin-left: 4px;
                font-size: 14px;
                border-radius: 18px;
            }
        }

        .ms{
            display: -webkit-flex;
            display: flex;
            justify-content: flex-end;
            
            p{
                color:rgb(5, 5, 5);
                background-color:#4D88FF;
                max-width: 140px;
                padding:6px;
                padding-left: 8px;
                padding-right: 8px;
                height: auto;
                margin-left: 4px;
                font-size: 14px;
                border-radius: 18px;
                color:white;
            }
        }
    }


        .footer{
            display: -webkit-flex;
            display: flex;
            width: auto;
            height: auto;
            flex-direction: column;

            .message{
                height:25px;
                width: auto;
                padding:2px;
                input{
                    width:100%;
                    height: 24px;
                    font-size:13px;
                    border:none;
                }  
            }

            .options{
                padding:5px;
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
                background-color: white;
                img{
                    width:20px;
                    height: 20px;
                }
            }
            

        }




input:focus{
    outline: none;
}


.chatbox .header .items .settings:hover .sopt {
    display: inline; 
}

